.navbar {
    background-color: #d39231;
    padding: 10px;
    font-size: 25px;
    font-family: 'ADLaM Display', cursive;
  }
  
  .navbar h3 {
    color: white;
  }
  
  .menu-button {
    color: white;
  }
  
  .menu-item {
    color: white;
  }

  .carrito{
    font-size: 40px;
    color: white;
  }

  .cantidad-carrito{
    color: white;
  }

  .saludo{
    font-family: 'ADLaM Display', cursive;
    font-size: 25px;
    padding: 20px;
  }